@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
	background: white;
	color: black;
}

/* nav bar code */
#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.main-container {
	/* 10px padding top and bottom and 10% left and right 
	This padding makes the nav things not be on the corner, might need to adjust for my 1920x1080 display we will see.*/
	padding: 10px 10%;
	width: 100%;
	height: 100vh;
	display: flex;
}

.main-container .left-half,
.main-container .right-half {
	/* main main-container info for both left and right */
    flex: 1; /* will give equal width to both the elements, will use later for animation */
	display: flex;
    align-items: center;
    justify-content: center;
	background: url("images/1.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all 500ms;
}

/* black line for split-screen layout */
.main-container::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	background-color: black;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	transition: all 500ms;
  }
  
  /* expand black line on hover */
  .main-container .left-half:hover::before,
  .main-container .right-half:hover::before {
	height: calc(100% + 20px); /* adjust height to match the padding-top and padding-bottom of .main-container */
  }

.main-container .left-half:hover,
.main-container .right-half:hover {
	flex: 2;
}



/* bg  */
.main-container .right-half {
	background: url("images/2.jpg")
}

/* text color */
.main-container .right-half {
	color: aliceblue 
}

/* RIGHT HALF CSS */

/* general properties of right-HALF-drawn-pc */
.main-container .right-half #right-half-drawn-pc {
	flex: auto; /* puts the pc and (everything else) on the middle edge */
	/* transition: 200ms; */
}

/* HOVER properties of right-HALF-drawn-pc */
.main-container .right-half:hover #right-half-drawn-pc {
	opacity: 0;
	/* no transition because it shows the right half in the middle first then dissapears. looks choppy */
}

/* general properties of right-FULL-drawn-pc */
.main-container .right-half #right-full-drawn-pc {
	opacity: 0;
	flex: auto;
	order: 1;
}

/* HOVER properties of right-FULL-drawn-pc */
.main-container .right-half:hover #right-full-drawn-pc {
	/* transition: 600ms; */
	opacity: 1;
	order: -1; /* Move #right-full-pc to the left of #right-half-drawn-pc */
}


/* properties for the main button in the container */
.main-container .btn {
	background: #FFFFFF;
    padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 24px;
	color: gray;
	box-shadow: 0 4px 16px -4px black;
	opacity: 0;
	transition: all 500ms; /* allows you to change property values smoothly, over a given duration */
}

/* what to do to button when hovering over left-half */
.main-container .left-half:hover .btn,
.main-container .right-half:hover .btn {
	/* when we hover over the left OR right side, do the following: */
	opacity: 1;
}

/* logo code */
#logo {
    display: flex;
    width: 100px;
}

/* nav bar code to make horizontal */
#navigation ul li {
	display: inline-block; /*horizontally aligned */
	list-style: none;
	margin: 10px 20px;	
}

/* nav bar code to make links specifically black and no underline */
#navigation ul li a {
	
	font-family: 'franklin-gothic-urw', sans-serif;
	color: black;
	text-decoration: none; /* remove underline */
	font-size: 23px;
	position: relative;
}

/*code to make text from whatever page you're on be bold*/
#navigation a.selected, a.selected:link, a.selected:active {
	
	font-weight: bold;
}

/* adding underline for hover effect */
#navigation ul li a::after {
	
	content: '';
	width: 100%; /* 0% so underline is hidden */
	opacity: 0;
	height: 3px;
	background: #BC4033;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.25s;
}

/* hover effect */
#navigation ul li a:hover::after {
	opacity: 1;
}
