@charset "UTF-8";
/* CSS Document */

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
	background: white;
	color: black;
}

/* nav bar code */
#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.main-container {
	/* 10px padding top and bottom and 10% left and right 
	This padding makes the nav things not be on the corner, might need to adjust for my 1920x1080 display we will see.*/
	padding: 10px 10%;
	width: 100%;
	height: 100vh;
	display: flex;
}

.main-container .left-half,
.main-container .right-half {
	/* main main-container info for both left and right */
    flex: 1; /* will give equal width to both the elements, will use later for animation */
	display: flex;
    align-items: center;
    justify-content: center;
	background: url("images/1.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all 500ms;
}

.main-container .left-half:hover,
.main-container .right-half:hover {
	flex: 2;
}

/* bg  */
.main-container .right-half {
	background: url("images/2.jpg")
}

/* text color */
.main-container .right-half {
	color: aliceblue 
}

/* all h2 text in main-container, have these properties:  */
.main-container .right-half .right-content {
	font-size: 20px;
	font-weight: 900;
}

.main-container .right-half #half-drawn-pc {
    width: 7%;
    height: auto;
    position: absolute;
	transition: 555ms;
}

@media screen and (min-width: 1024px) {
    /* for screens larger than 1024px (e.g. larger desktop screens) */
    #half-drawn-pc {
		transform: translate(-166%, -50%);
    }

	/* drawn-pc transition to left side (hovering over right) */
	.main-container .right-half:hover #half-drawn-pc {
		transform: translate(-150%, -50%);
		transition: 455ms;
	}
  
	/* drawn-pc transition to right side (hovering over left)*/
	/* used the ~ symbol (Subsequent-sibling Combinator) which allowed me to modify #half-drawn-pc even though #half-drawn-pc is a child of right-half! */
	.main-container .left-half:hover ~ .right-half #half-drawn-pc {
		transform: translate(-50%, -50%);
		transition: 455ms;
	}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    /* for screens between 768px and 1024px (e.g. smaller desktop screens) */
    #half-drawn-pc {
		filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
        left: -65%;
    }
}


@media screen and (max-width: 768px) {
    /* for screens smaller than 768px (e.g. tablets and mobile devices) */
    #half-drawn-pc {
		opacity: 0;
        left: -100%;
    }
}








/* properties for the main button in the container */
.main-container .btn {
	background: #FFFFFF;
    padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 24px;
	color: gray;
	box-shadow: 0 4px 16px -4px black;
	opacity: 0;
	transition: all 500ms; /* allows you to change property values smoothly, over a given duration */
}

/* what to do to button when hovering over left-half */
.main-container .left-half:hover .btn,
.main-container .right-half:hover .btn {
	/* when we hover over the left OR right side, do the following: */
	opacity: 1;
}

/* logo code */
#logo {
    display: flex;
    width: 100px;
}

/* nav bar code to make horizontal */
#navigation ul li {
	display: inline-block; /*horizontally aligned */
	list-style: none;
	margin: 10px 20px;	
}

/* nav bar code to make links specifically black and no underline */
#navigation ul li a {
	
	font-family: 'franklin-gothic-urw', sans-serif;
	color: black;
	text-decoration: none; /* remove underline */
	font-size: 23px;
	position: relative;
}

/*code to make text from whatever page you're on be bold*/
#navigation a.selected, a.selected:link, a.selected:active {
	
	font-weight: bold;
}

/* adding underline for hover effect */
#navigation ul li a::after {
	
	content: '';
	width: 100%; /* 0% so underline is hidden */
	opacity: 0;
	height: 3px;
	background: #BC4033;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.25s;
}

/* hover effect */
#navigation ul li a:hover::after {
	opacity: 1;
}