@charset "UTF-8";
/* CSS Document */

* {
	padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
	background: white;
	color: black;
}

/* nav bar code */
#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.main-container {
	/* 10px padding top and bottom and 10% left and right 
	This padding makes the nav things not be on the corner, might need to adjust for my 1920x1080 display we will see.*/
	padding: 10px 10%;
	width: 100%;
	height: 100vh;
	display: flex;
}

.main-container .right-half {
	/* main main-container info for both left and right */
    flex: 1; /* will give equal width to both the elements, will use later for animation */
	display: inline-flex;
    align-items: center;
    justify-content: center;
	background: url("images/1.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all 500ms;
}

.main-container .left-half {
	/* main main-container info for both left and right */
    flex: 1; /* will give equal width to both the elements, will use later for animation */
	display: inline-flex;
    align-items: center;
    justify-content: flex-end; /* not sure why, but in order for PC to be on right end, needed to do flex-end */
	background: url("images/1.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	transition: all 500ms;
}

/* code to create line in the middle */
.main-container .left-half {
	border-right: 1px solid black;
}
.main-container .right-half {
	border-left: 1px solid black;
}


/* whenever hover over a half, that half takes up more of the screen */
.main-container .left-half:hover,
.main-container .right-half:hover {
	flex: 2;
}

/* bg  */
.main-container .right-half {
	background: url("images/2.jpg")
}

/* text color */
.main-container .right-half {
	color: aliceblue 
}

.left-half #left-half-pc {
	flex-grow: auto;
}

.right-half #right-half-drawn-pc {
	flex: auto; /* puts the pc and (everything else) on the middle edge */
}

/* when hovering over LEFT half, make middle line invisible */
.left-half:hover,
.left-half:hover ~ .right-half {
	border-right: 0;
	border-left: 0;
}

/* when hovering over RIGHT half, make middle line invisible */
/* has:() pseudo-class lets me select elements that appear before in the DOM structure */
.right-half:hover,
.left-half:has(+ .right-half:hover) {
	border-left: 0;
	border-right: 0;
}

/* when hovering over LEFT half, make #right-half-drawn-pc invisible */
.left-half:hover ~ .right-half #right-half-drawn-pc {
	opacity: 0;
}

/* when hovering over RIGHT half, make #left-half-pc invisible */
.left-half:has(+ .right-half:hover) #left-half-pc {
	opacity: 0;
}

/* general properties of #left-half-drawn-pc */
#left-half-drawn-pc {
	opacity: 0;
	order: -1;
}

/* hover properties of #left-half-drawn-pc */
.left-half:has(+ .right-half:hover) #left-half-drawn-pc {
	opacity: 1;
	order: 0;
}

/* properties for the main button in the container */
.main-container .btn {
	background: #FFFFFF;
    padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 24px;
	color: gray;
	box-shadow: 0 4px 16px -4px black;
	opacity: 0;
	transition: all 500ms; /* allows you to change property values smoothly, over a given duration */
}

/* logo code */
#logo {
    display: flex;
    width: 100px;
}

/* nav bar code to make horizontal */
#navigation ul li {
	display: inline-block; /*horizontally aligned */
	list-style: none;
	margin: 10px 20px;	
}

/* nav bar code to make links specifically black and no underline */
#navigation ul li a {
	
	font-family: 'franklin-gothic-urw', sans-serif;
	color: black;
	text-decoration: none; /* remove underline */
	font-size: 23px;
	position: relative;
}

/*code to make text from whatever page you're on be bold*/
#navigation a.selected, a.selected:link, a.selected:active {
	
	font-weight: bold;
}

/* adding underline for hover effect */
#navigation ul li a::after {
	
	content: '';
	width: 100%; /* 0% so underline is hidden */
	opacity: 0;
	height: 3px;
	background: #BC4033;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.25s;
}

/* hover effect */
#navigation ul li a:hover::after {
	opacity: 1;
}
