@charset "UTF-8";
/* CSS Document */

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
	background: white;
	color: black;
}

/* nav bar code */
#navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
}

.main-container {
	/* 10px padding top and bottom and 10% left and right 
	This padding makes the nav things not be on the corner, might need to adjust for my 1920x1080 display we will see.*/
	padding: 10px 10%;
	width: 100%;
	height: 100vh;
	display: flex;
}

.main-container .left-half,
.main-container .right-half {
	/* main main-container info for both left and right */
    flex: 1; /* will give equal width to both the elements, will use later for animation */
	display: flex;
    align-items: center;
    justify-content: center;
	background: url("images/1.jpg");
	background-size: cover;
	background-position: center;
	transition: all 500ms;
}

.main-container .left-half:hover,
.main-container .right-half:hover {
	flex: 2;
}

/* bg  */
.main-container .right-half {
	background: url("images/2.jpg")
}

/* text color */
.main-container .right-half {
	color: aliceblue 
}

/* all h2 text in main-container, have these properties:  */
.main-container .right-half .right-content {
	font-size: 20px;
	font-weight: 900;
}

/* transition back into place */
#half-drawn-pc {
  transition: 555ms;
}

.main-container .right-half #half-drawn-pc {
    width: 36%;
    height: auto;
    position: relative;
    top: 70%;
    left: -72.5%;
    transform: translate(-50%, 50%);
/*    transition: all 500ms;*/
}

/* transition to left side*/
.main-container .right-half:hover #half-drawn-pc {
	left: -119.5%;
	transition:  455ms;
}

/* properties for the main button in the container */
.main-container .btn {
	background: #FFFFFF;
    padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	margin-top: 24px;
	color: gray;
	box-shadow: 0 4px 16px -4px black;
	opacity: 0;
	transition: all 500ms; /* allows you to change property values smoothly, over a given duration */
}

/* what to do to button when hovering over left-half */
.main-container .left-half:hover .btn,
.main-container .right-half:hover .btn {
	/* when we hover over the left OR right side, do the following: */
	opacity: 1;
}

/* logo code */
#logo {
    display: flex;
    width: 100px;
}

/* nav bar code to make horizontal */
#navigation ul li {
	display: inline-block; /*horizontally aligned */
	list-style: none;
	margin: 10px 20px;	
}

/* nav bar code to make links specifically black and no underline */
#navigation ul li a {
	
	font-family: 'franklin-gothic-urw', sans-serif;
	color: black;
	text-decoration: none; /* remove underline */
	font-size: 23px;
	position: relative;
}

/*code to make text from whatever page you're on be bold*/
#navigation a.selected, a.selected:link, a.selected:active {
	
	font-weight: bold;
}

/* adding underline for hover effect */
#navigation ul li a::after {
	
	content: '';
	width: 100%; /* 0% so underline is hidden */
	opacity: 0;
	height: 3px;
	background: #BC4033;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.25s;
}

/* hover effect */
#navigation ul li a:hover::after {
	opacity: 1;
}

/*code for header text*/
/*
.left-header-text h1{
    font-family: 'franklin-gothic-urw', sans-serif;
    font-weight: 900;
    font-size: 47px;
}
*/

/*
#galaxy-collision{
    display: inline;
    margin-bottom: -9px;
    margin-left: 15px;
}
*/

/*******************************************************************************************************************************
******************************************************************************SEPARATOR*************************************/

/*
.half-pcs{
	display: inline-block;
	margin-left: 30%;
	margin-right: auto;
	margin-bottom: 80%;
}
*/

/*
#PC-pic{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
*/
/*	border: 3px dashed red;*/
/*	This code makes it where only the left half is visible, had to do 62% cause 50% would do less than half*/
/*
	clip-path: inset(0 62% 0 0);
}
*/

/*
#drawn-pc{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
*/
/*	border: 3px dashed red;*/
/*	This code makes it where only the left half is visible, had to do 62% cause 50% would do less than half*/
/*
	clip-path: inset(0 0 0 38%);
}
*/
